<!DOCTYPE html>
<html>
<head>
  <title>CruddyBearNecessities</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

  <% flash.each do |type, message| %>
    <div>
    <strong><%= type %>! <%= message %></strong>
    </div>
  <% end %>

  <%= link_to "See All Bears", bears_path %>
  <%= link_to "Create a New Bear", new_bear_path %>


<%= yield %>

</body>
</html>
